<div class="row pt-5 mt-5 text-center">
            <div class="col-md-12"  style="background-color: ##fee2b3 !important;">
              <div class="border-top pt-5">
                <p>
               Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
               Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              </p>
              </div>
            </div>
</div>


<style>
    .col-md-12{

        background-color: ##fee2b3 !important;
    }
</style>