


{% load static %}


<html>
<head>

     <link rel="stylesheet" href="{% static 'css/login.css' %}">
<!--    <link rel="stylesheet" type="text/css" href="style.css">-->
</head>
    <body>
    <div class="hero overlay" style="background-image: url('{% static "home/images/hero_bg_1.jpg" %}');">




        <div class="error-pagewrap">
		<div class="error-page-int" style="opacity:1;">
			<div class="text-center m-b-md custom-login" >
				<h3 style="color:white;">PLEASE LOGIN </h3>

			</div>
			<div class="content-error">
				<div class="hpanel">
                    <div class="panel-body">
                        <form id="loginForm" action="{% url 'performance:login-view' %}" class="add-department" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="Email">Email</label>
                                {{form.email}}
                                {{form.errors.email}}
                                <span class="help-block small">Your email should like example@gmail.com</span>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                {{form.password}}
                                {{form.errors.password}}
                                <span class="help-block small"> Your strong password </span>
                            </div>
                            <button class="btn btn-success btn-block loginbtn">Login</button>

                        </form>
                    </div>
                </div>
			</div>
		</div>
    </div>


                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

                            {% endfor %}

                        {% endif %}




    </div>




    </body>
</html>





