<!-- Mobile Menu start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="mobile-menu-nav">
                                        <li>
                                            <a  href="{% url 'performance:dashboard-view' %}" aria-expanded="false"><span class="educate-icon educate-home icon-wrap"></span> <span class="mini-click-non">DASHBOARD</span></a>
                                        </li>



                                         <li>
                            <a  href="{%url 'performance:file-list' %}" aria-expanded="false"><span class="fa fa-product-hunt"></span> <span class="mini-click-non">FILES</span></a>

                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="educate-icon educate-checked edu-checked-pro admin-check-pro"></span> <span class="mini-click-non">SUPPORT</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Projects List" href="{% url 'performance:file-create' %}"><span class="mini-sub-pro">UPLOAD FILES</span></a></li>
                                <li><a title="Projects List" href="{% url 'performance:file-list' %}"><span class="mini-sub-pro">LIST OF FILES</span></a></li>



                            </ul>
                        </li>








                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->