{% load static %}
<div class="all-content-wrapper">
    <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro" style="margin-top: 40px;" >
                    </div>
                </div>
            </div>
        </div>
    <div class="header-advance-area">
        <div class="header-top-area" style="background:#fee2b3; height:13%;" >
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">

                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                        <li class="nav-item">


                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li class="active"><a href="{% url 'performance:home-view' %}" class="nav-link" style="color:black;">Home</a></li>







<!--                     <li class="nav-item dropdown nav-user" style="color:#00FF00;">-->

                <a href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false" class="fas fa-user-circle fa-2x "style="margin-top:10px;color:#00FF00;"></a>
                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                    <div class="nav-user-info">
                        <h5 class="mb-0 text-white nav-user-name" style="color:#00FF00">{{request.user}}</h5>
                        <span class="status"></span><span class="ml-2">Available</span>
                    </div>

                    <a class="dropdown-item" href="" style="color:#c33;"><i class="fas fa-power-off mr-2" style="color:#c33;"></i>Logout</a>
                </div>
            </li>





<!--                                                            <a href="#" data-toggle="" role="button" aria-expanded="false" class="nav-link">-->
<!--                                                                    <span class="admin-name">Welcome {{request.user}}</span>-->

<!--                                                                </a>-->
<!--                                                             <a href="{% url 'performance:logout' %}" data-toggle="" role="button" aria-expanded="false" class="nav-link">-->
<!--                                                                    <span class="admin-name">Logout</span>-->

<!--                                                                </a>-->

                                                        </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>







<style>

ul {
    list-style: outside none none;
}
.text-right {
    text-align: right !important;
}
.text-right {
    text-align: right;
}
.text-lg-left {
    text-align: left !important;
}
body {
    line-height: 1.7;
    color: #364d59 !important;
    font-weight: 300;
    font-size: 1rem;

}


.nav-link {
    margin-right: 20px;
    margin-left: 20px;
}


 </style>







