{% load static %}
<div class="error-pagewrap">
		<div class="error-page-int">
			<div class="text-center custom-login">
				<h3>Registration</h3>

			</div>
			<div class="content-error">
				<div class="hpanel">
                    <div class="panel-body">
                        <form id="loginForm" class="add-department" action="{% url 'performance:register-view' %}"  method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label for="Username">Username</label>
                                    {{form.username}}
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="Email">Email</label>
                                    {{form.email}}
                                    <span class="help-block small">Your email should like example@gmail.com</span>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="first_name">First Name</label>
                                    {{form.first_name}}
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="last_name">Last Name</label>
                                    {{form.last_name}}
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="Password">Password</label>
                                    {{form.password}}
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="confirm_password">Repeat Password</label>
                                    {{form.confirm_password}}
                                </div>

                            </div>
                            <div class="text-center">
                                <button class="btn btn-success loginbtn">Register</button>
                                <button class="btn btn-default">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
			</div>

		</div>
    </div>