{% load static%}
<style>
    .this-is-main-logo{
    width:100px;
    height:56px;
    }
</style>
<style>
    # sidebar-view{
    background:#f96359;
    }
</style>
<!-- Start Left menu area -->
    <div class="left-sidebar-pro" style="margin-top:150px; position:fixed;">
        <nav id="sidebar" class="" style="background-color:#00ff99;">

            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1"  style="background-color:#00ff99; color:white;">
                        <li>
                            <a  href="{% url 'performance:dashboard-view' %}" aria-expanded="false"><span class="educate-icon educate-home icon-wrap"></span> <span class="mini-click-non">DASHBOARD</span></a>
                        </li>


                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="educate-icon educate-checked edu-checked-pro admin-check-pro"></span> <span class="mini-click-non">FILES</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Projects List" href="{% url 'performance:file-create' %}"><span class="mini-sub-pro">UPLOAD FILES</span></a></li>
                                <li><a title="Projects List" href="{% url 'performance:file-list' %}"><span class="mini-sub-pro">LIST OF FILES</span></a></li>
                                <li><a title="Projects List" href="{% url 'performance:file-search' %}"><span class="mini-sub-pro">SEARCH RESULT</span></a></li>



                            </ul>
                        </li>



                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- End Left menu area -->