{% load static%}
<style>
    .this-is-main-logo{
    width:100px;
    height:56px;
    }
.sidebar-header{
    background:#fee2b3;
    height: 13%;

}

</style>
<style>
    # sidebar-view{
    background:#f96359;

    }
</style>
<!-- Start Left menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="" >
            <div class="sidebar-header" style="background:#fee2b3;">
                <img src=""  href="{% url 'performance:home-view' %}" style="margin-left:-150px;"><h1 style="color:black;">SPPS</h1></img>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li>
                            <a  href="{% url 'performance:dashboard-view' %}" aria-expanded="false"><span class="educate-icon educate-home icon-wrap"></span> <span class="mini-click-non">DASHBOARD</span></a>
                        </li>


                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="educate-icon educate-checked edu-checked-pro admin-check-pro"></span> <span class="mini-click-non">FILES</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Projects List" href="{% url 'performance:file-create' %}"><span class="mini-sub-pro">UPLOAD FILES</span></a></li>
                                <li><a title="Projects List" href="{% url 'performance:file-list' %}"><span class="mini-sub-pro">LIST OF FILES</span></a></li>
<!--                                -->



                            </ul>
                        </li>



                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- End Left menu area -->




