
{% load static %}



<header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col">
              <div class="site-logo">
                <img src=""  href="{% url 'performance:home-view' %}" style="margin-left:-150px;"><strong>SPPS</strong></img>
              </div>
            </div>

            <div class="col-9 text-right text-lg-left">

              <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span class="icon-menu h3 text-black"></span></a></span>

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li class="active"><a href="{% url 'performance:home-view' %}" class="nav-link" >Home</a></li>






                    <li class="active"><a href="{% url 'performance:login-view' %}" class="nav-link">LogIn</a></li>




                </ul>
              </nav>
            </div>


          </div>
        </div>


      </header>



<style>


   nav ul li a.nav-link:hover{

        color:red;


    }




</style>





