



<header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col">
              <div class="site-logo">
                <a href="index.html"><strong>Notary</strong></a>
              </div>
            </div>

            <div class="col-9 text-right text-lg-left">

              <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span class="icon-menu h3 text-black"></span></a></span>

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li class="active"><a href="index.html" class="nav-link">Home</a></li>


                  <li><a href="about.html" class="nav-link">About</a></li>


                    <li class="nav-item dropdown nav-user" style="color:green;">

                <a href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false" class="fas fa-user-circle fa-2x "style="margin-top:10px;"></a>
                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                     aria-labelledby="navbarDropdownMenuLink2">
                    <div class="nav-user-info" style="background-color:#003875;">
                        <h5 class="mb-0 text-white nav-user-name">{{request.user}}</h5>
                        <span class="status"></span><span class="ml-2">Available</span>
                    </div>

                    <a class="dropdown-item" href="" style="color:#c33;"><i class="fas fa-power-off mr-2" style="color:#c33;"></i>Logout</a>
                </div>
            </li>


                </ul>
              </nav>
            </div>


          </div>
        </div>

      </header>

