









{% extends 'base1.html' %}
{% block content %}
{% load static %}





        <div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row" style="margin-top:100px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap drp-lst">
                            <h4>File List</h4>
                            <div class="add-product">
                                <a href="{% url 'performance:file-create' %}">Add File</a>
                            </div>


                            <div class="asset-inner">
                                <table  data-toggle="table" data-pagination="true" data-search="true"  >
                                    <thead>
                                        <th>Name</th>

                                        <th>Size</th>

                                        <th>Operations</th>
                                    </thead>


                                   <tbody>





                                   {% for i in file %}




                                    <tr>
                                        <td><a class="button is-info" href="{%url 'performance:file-detail' i.id%}">{{ i.name }}&nbsp;</a></td>

                                         <td>{{i.file.size|filesizeformat}}</td>


                                        <td>

                                            <button data-toggle="tooltip"  class="pd-setting-ed"><i  class="fa fa-pencil-square-o" aria-hidden="true">&nbsp;<a  href="{% url 'performance:file-detail' i.id %}">View</a></i></button>
                                            <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true">&nbsp;<a  href="{% url 'performance:file-delete' i.id %}">Delete</a></i></button>



                                            <form id="add-department" action=""  class="add-department" method="post">

                                         {% csrf_token %}

                                                <button type="submit" value="{{i.id}}" name="list" class="btn btn-primary waves-effect waves-light" style="align:right;"><a  href="{% url 'performance:file-search' i.id %}">Search</a></button>




                                                </form>





                                        </td>







                                    </tr>

                                   {% endfor %}
                                   </tbody>


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}