{% extends 'base1.html' %}
{% load static %}
{% block content %}




<br>
<br>



<table class="table table-bordered" id="datatable" width="100%" cellspacing="0">

    <thead>
    <tr>
        {% for col in columns %}
        <th>{{ col }}</th>
        {% endfor %}

    </tr>
    </thead>
    <tbody>
    {% for  val in rows %}


    <tr>
        <td>
            {{val.symbol}}
        </td>

        <td>
            {{val.semester}}

        </td>

        <td>
            {{val.total_internal}}
        </td>

        <td>
            {{val.total_external}}
        </td>

        <td>
            {{val.total_marks}}
        </td>
        <td>
            {{val.subject}}
        </td>
        <td>
            {{val.percentage}}
        </td>


    </tr>

    {% endfor %}
    </tbody>
</table>


{% endblock %}