{% extends 'base.html' %}
{% block content %}
{% load static %}




{{dk1}}

<div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-xl-10">

  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin:50px;">
                        <div class="page-header">
<!--                            <h2 class="pageheader-title">Events </h2>-->
                            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>



  <div class="row">

       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                                <div class="section-block" id="card-list">
                                    <h3 class="section-title"></h3>

                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" style="margin-left:350px; margin-top:-75px;">
                                <div class="card">
                                    <img class="img-fluid" src="{% static 'media/avatar.jpg' %}" alt="Card image cap">
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">symbol : {{dk1.symbol}}</li>
                                        <li class="list-group-item">semester : {{dk1.semester}}</li>
                                        <li class="list-group-item">Total Internal :</li>
                                        <li class="list-group-item">Total External :</li>
                                        <li class="list-group-item">Total Marks :</li>
                                        <li class="list-group-item">Subjects :</li>
                                        <li class="list-group-item">Percentage :</li>
                                    </ul>
                                    <div class="card-body">



                                    </div>
                                </div>
                            </div>


                    </div>
                    </div>
                </div>
            </div>
 </div>


--------------------------------------------------------------------------------------------------------------------------------------------------------------



   <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" style="margin-left:350px; margin-top:-75px;height:-300px;width:-50px;">
                                <div class="card">
                                    <img class="img-fluid" src="{% static 'img/student/4.jpg' %}" alt="Card image cap">
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush">






    {% for  val in rows %}

                                        <li class="list-group-item">symbol : {{val.symbol}}</li>
                                        <li class="list-group-item">semester : {{val.semester}}</li>
                                        <li class="list-group-item">Total Internal : {{val.total_internal}}</li>
                                        <li class="list-group-item">Total External : {{val.total_external}}</li>
                                        <li class="list-group-item">Total Marks : {{val.total_marks}}</li>
                                        <li class="list-group-item">Subjects : {{val.subject}}</li>
                                        <li class="list-group-item">Percentage : {{val.percentage}}</li>
{%endfor%}
                                    </ul>
                                    <div class="card-body">



                                    </div>
                                </div>
                            </div>
</div>








---------------------------------------------------------------------------------------------------




function myFunction1() {
  var x = document.getElementById("myDIV1");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function myFunction2() {
  var x = document.getElementById("myDIV2");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function myFunction3() {
  var x = document.getElementById("myDIV3");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}


function myFunction4() {
  var x = document.getElementById("myDIV4");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function myFunction5() {
  var x = document.getElementById("myDIV5");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}


{% endblock %}



-----------------------------------------------------------------------------------------------------------------------------------------------------------------------


{% for  val in rows %}

<div id="myDIV" class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" style="margin-left:350px; margin-top:-75px;height:-300px;width:-50px;">
                                <div class="card">
                                    <img class="img-fluid" src="{% static 'img/student/4.jpg' %}" alt="Card image cap">
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush">









                                        <li class="list-group-item">symbol : {{val.symbol}}</li>
                                        <li class="list-group-item">semester : {{val.semester}}</li>
                                        <li class="list-group-item">Total Internal : {{val.total_internal}}</li>
                                        <li class="list-group-item">Total External : {{val.total_external}}</li>
                                        <li class="list-group-item">Total Marks : {{val.total_marks}}</li>
                                        <li class="list-group-item">Subjects : {{val.subject}}</li>
                                        <li class="list-group-item">Percentage : {{val.percentage}}</li>

                                    </ul>
                                    <div class="card-body">



                                    </div>
                                </div>
                            </div>
</div>
</div>

{%endfor%}




{% for  val in rows1 %}

<div id="myDIV1" class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" style="margin-left:350px; margin-top:-75px;height:-300px;width:-50px;">
                                <div class="card">
                                    <img class="img-fluid" src="{% static 'img/student/4.jpg' %}" alt="Card image cap">
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush">

                                        <li class="list-group-item">symbol : {{val.symbol}}</li>
                                        <li class="list-group-item">semester : {{val.semester}}</li>
                                        <li class="list-group-item">Total Internal : {{val.total_internal}}</li>
                                        <li class="list-group-item">Total External : {{val.total_external}}</li>
                                        <li class="list-group-item">Total Marks : {{val.total_marks}}</li>
                                        <li class="list-group-item">Subjects : {{val.subject}}</li>
                                        <li class="list-group-item">Percentage : {{val.percentage}}</li>

                                    </ul>
                                    <div class="card-body">



                                    </div>
                                </div>
                            </div>
</div>
{% endfor %}


{% for  val in rows2 %}

<div id="myDIV2" class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" style="margin-left:350px; margin-top:-75px;height:-300px;width:-50px;">
                                <div class="card">
                                    <img class="img-fluid" src="{% static 'img/student/4.jpg' %}" alt="Card image cap">
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush">

                                        <li class="list-group-item">symbol : {{val.symbol}}</li>
                                        <li class="list-group-item">semester : {{val.semester}}</li>
                                        <li class="list-group-item">Total Internal : {{val.total_internal}}</li>
                                        <li class="list-group-item">Total External : {{val.total_external}}</li>
                                        <li class="list-group-item">Total Marks : {{val.total_marks}}</li>
                                        <li class="list-group-item">Subjects : {{val.subject}}</li>
                                        <li class="list-group-item">Percentage : {{val.percentage}}</li>

                                    </ul>
                                    <div class="card-body">



                                    </div>
                                </div>
                            </div>

{% endfor %}


{% for  val in rows3 %}

<div id="myDIV3" class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" style="margin-left:350px; margin-top:-75px;height:-300px;width:-50px;">
                                <div class="card">
                                    <img class="img-fluid" src="{% static 'img/student/4.jpg' %}" alt="Card image cap">
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush">

                                        <li class="list-group-item">symbol : {{val.symbol}}</li>
                                        <li class="list-group-item">semester : {{val.semester}}</li>
                                        <li class="list-group-item">Total Internal : {{val.total_internal}}</li>
                                        <li class="list-group-item">Total External : {{val.total_external}}</li>
                                        <li class="list-group-item">Total Marks : {{val.total_marks}}</li>
                                        <li class="list-group-item">Subjects : {{val.subject}}</li>
                                        <li class="list-group-item">Percentage : {{val.percentage}}</li>

                                    </ul>
                                    <div class="card-body">



                                    </div>
                                </div>
                            </div>
</div>
{% endfor %}


{% for  val in rows4 %}

<div id="myDIV4" class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" style="margin-left:350px; margin-top:-75px;height:-300px;width:-50px;">
                                <div class="card">
                                    <img class="img-fluid" src="{% static 'img/student/4.jpg' %}" alt="Card image cap">
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush">

                                        <li class="list-group-item">symbol : {{val.symbol}}</li>
                                        <li class="list-group-item">semester : {{val.semester}}</li>
                                        <li class="list-group-item">Total Internal : {{val.total_internal}}</li>
                                        <li class="list-group-item">Total External : {{val.total_external}}</li>
                                        <li class="list-group-item">Total Marks : {{val.total_marks}}</li>
                                        <li class="list-group-item">Subjects : {{val.subject}}</li>
                                        <li class="list-group-item">Percentage : {{val.percentage}}</li>

                                    </ul>
                                    <div class="card-body">



                                    </div>
                                </div>
                            </div>
</div>
{% endfor %}









------------------------------------------------------------------------------------------------



var lastCalled = null;

function callLastFunc(arg) {
  if (arg[0])
    return;

  if (lastCalled)
    lastCalled("byCallPrev");
  lastCalled = arg.callee;
}

function myFunction6() {
	var e = document.getElementById("myDIV6").style;
	if(!e.display | e.display == "none"){
		e.display = "block";
	}
else{
	e.display = "none";
	}
  callLastFunc(arguments);
}

function myFunction() {
	var e = document.getElementById("myDIV").style;
	if(!e.display | e.display == "none"){
		e.display = "block";
	}
else{
	e.display = "none";
	}
  callLastFunc(arguments);
}

function myFunction1() {
	var e = document.getElementById("myDIV1").style;
	if(!e.display | e.display == "none"){
		e.display = "block";
	}
else{
	e.display = "none";
	}
  callLastFunc(arguments);
}

function myFunction2() {
	var e = document.getElementById("myDIV2").style;
	if(!e.display | e.display == "none"){
		e.display = "block";
	}
else{
	e.display = "none";
	}
  callLastFunc(arguments);
}

function myFunction3() {
	var e = document.getElementById("myDIV3").style;
	if(!e.display | e.display == "none"){
		e.display = "block";
	}
else{
	e.display = "none";
	}
  callLastFunc(arguments);
}

function myFunction4() {
	var e = document.getElementById("myDIV4").style;
	if(!e.display | e.display == "none"){
		e.display = "block";
	}
else{
	e.display = "none";
	}
  callLastFunc(arguments);
}

function myFunction5() {
	var e = document.getElementById("myDIV5").style;
	if(!e.display | e.display == "none"){
		e.display = "block";
	}
else{
	e.display = "none";
	}
  callLastFunc(arguments);
}



$('#oli1').on('click', function(){

 $('#btn5').show('slow');
});


-------------------------------------------------------------------------------------------------------


function myFunction() {
   document.getElementById('myDIV').style.display = "block";

}

function myFunction1() {
   document.getElementById('myDIV1').style.display = "block";

}


-------------------------------------------------------------------------


<!-- <div class="row">-->
<!--                                                        <div class="col-lg-6">-->
<!--                                                            <div class="payment-adress">-->
<!--                                                                <button class="btn btn-primary" style="background-color:#003875; margin-left:-400px; width:75px;">I</button>-->

<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--<br>-->




<!--                                        <div class="row">-->
<!--                                                        <div class="col-lg-6">-->
<!--                                                            <div class="payment-adress">-->
<!--                                                               <button class="btn btn-primary"  style="background-color:#003875; margin-left:-400px; width:75px;">II</button>-->

<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->

<!--<br>-->

<!--                                        <div class="row">-->
<!--                                                        <div class="col-lg-6">-->
<!--                                                            <div class="payment-adress">-->
<!--                                                               <button class="btn btn-primary" onclick="myFunction2()" style="background-color:#003875; margin-left:-400px; width:75px;">III</button>-->

<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->

<!--<br>-->

<!--<div class="row">-->
<!--                                                        <div class="col-lg-6">-->
<!--                                                            <div class="payment-adress">-->
<!--                                                                <button class="btn btn-primary" onclick="myFunction3()" style="background-color:#003875; margin-left:-400px; width:75px;">IV</button>-->

<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->


<!--<br>-->
<!--                                            <div class="row">-->
<!--                                                        <div class="col-lg-6">-->
<!--                                                            <div class="payment-adress">-->
<!--                                                               <button class="btn btn-primary" onclick="myFunction4()" style="background-color:#003875; margin-left:-400px; width:75px;">V</button>-->

<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->


<!--<br>-->
<!--                                        <div class="row">-->
<!--                                                        <div class="col-lg-6">-->
<!--                                                            <div class="payment-adress">-->
<!--                                                               <button class="btn btn-primary" id=btn5 onclick="myFunction5()" style="background-color:#003875; margin-left:-400px; width:75px;">VI</button>-->

<!--                                                            </div>-->
<!--                                                        </div>-->


<!--                                                    </div>-->

<!--</div>-->


----------------------------------------------------------------------------------------------------------------------------------------------------------


{% for val in rows %}

<div  class="sem1">









                                    <ul>
                                        <li class="list-group-item">symbol : {{val.symbol}}</li>
                                        <li class="list-group-item">semester : {{val.semester}}</li>
                                        <li class="list-group-item">Total Internal : {{val.total_internal}}</li>
                                        <li class="list-group-item">Total External : {{val.total_external}}</li>
                                        <li class="list-group-item">Total Marks : {{val.total_marks}}</li>
                                        <li class="list-group-item">Subjects : {{val.subject}}</li>
                                        <li class="list-group-item">Percentage : {{val.percentage}}</li>
                                        <li class="list-group-item">Percentage : {{val.pred_percentage}}</li>

                                    </ul>
                                    <div class="card-body">



                                    </div>
                                </div>
                            </div>
</div>
</div>

{% endfor %}





{% for  val in rows1 %}
{{val.semester}}

<div  class="sem2">








                                <ul>
                                        <li class="list-group-item">symbol : {{val.symbol}}</li>
                                        <li class="list-group-item">semester : {{val.semester}}</li>
                                        <li class="list-group-item">Total Internal : {{val.total_internal}}</li>
                                        <li class="list-group-item">Total External : {{val.total_external}}</li>
                                        <li class="list-group-item">Total Marks : {{val.total_marks}}</li>
                                        <li class="list-group-item">Subjects : {{val.subject}}</li>
                                        <li class="list-group-item">Percentage : {{val.percentage}}</li>
                                        <li class="list-group-item">Predicted Percentage : {{val.pred_percentage}}</li>


                                    </ul>
                                    <div class="card-body">



                                    </div>
                                </div>
                            </div>
</div>
</div>


{%endfor%}




-----------------------------------------login--------------------------------------------------------------------------


{% load static %}


<div class="error-pagewrap" style="background-image: url({% static 'home/images/hero_bg_1.jpg' %}); >




			<div class="text-center m-b-md custom-login">
				<h3>PLEASE LOGIN TO APP</h3>
				<p>This is the best app ever!</p>
			</div>

                        <form id="loginForm" action="{% url 'performance:login-view' %}" class="add-department" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="Email">Email</label>
                                {{form.email}}
                                {{form.errors.email}}
                                <span class="help-block small">Your email should like example@gmail.com</span>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                {{form.password}}
                                {{form.errors.password}}
                                <span class="help-block small"> Your strong password </span>
                            </div>
                            <button class="btn btn-success btn-block loginbtn">Login</button>

                        </form>
                    </div>
                </div>
			</div>
		</div>
    </div>

</div>



<style>

    .error-pagewrap{

        background-image: url('static/home/images/hero_bg_1.jpg');

    }


</style>



-----------------------------------------------------------------------------------------------------------------------

div class="contacts-area mg-b-15">
<div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="single-review-st-item res-mg-t-30 table-mg-t-pro-n">
                            <div class="single-review-st-hd">
                                <h2>User Profile</h2>
                            </div>
                            <div class="single-review-st-text">
                                <div class="review-ctn-hf">
                                    <h1>{{request.user.first_name}}&nbsp;{{request.user.last_name}}</h1>
                                    <p>{{request.user.email}}</p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
</div>






-------------------------------------




$(".button").click(function (e) {
	       e.preventDefault();

           $('[class^=sem]').not($('.'+this.id)).hide();

           $('.'+this.id).slideToggle(100);
	   });






------------------------------------------------------------------------------------------



<div class="center" id="oliDIV">



     <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="payment-adress">
                                                                <button class="button" id="sem1" >I</button>

                                                            </div>
                                                        </div>
                                                    </div>
<br>




                                        <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="payment-adress">
                                                                <button class="button" id="sem2" >II</button>

                                                            </div>
                                                        </div>
                                                    </div>

<br>

                                        <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="payment-adress">
                                                               <button class="button" id="sem3">III</button>

                                                            </div>
                                                        </div>
                                                    </div>

<br>

<div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="payment-adress">
                                                                <button class="button" id="sem4">IV</button>

                                                            </div>
                                                        </div>
                                                    </div>


<br>
                                            <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="payment-adress">
                                                               <button class="button" id="sem5">V</button>

                                                            </div>
                                                        </div>
                                                    </div>


<br>
                                        <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="payment-adress">
                                                               <button class="button" id="sem6">VI</button>

                                                            </div>
                                                        </div>


                                                    </div>










---------------------------------------------------------------------------------------------------------------------


       <div class="row">


{% for val in rows %}
      <div class="sem" id="sports">

       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                                <div class="section-block" id="card-list">
                                    <h3 class="section-title"></h3>

                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" style="margin-left:500px; margin-top:-350px; width: 30%;">
                                <div class="card">
                                    <img class="img-fluid" src="{% static 'home/images/atty_1.jpg' %}" alt="Card image cap" style="margin-bottom:-10px;">
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-button">Symbol         : {{val.symbol}}</li>
                                        <li class="list-group-button">Semeter        : {{val.semester}}</li>
                                        <li class="list-group-button">Total Internal : {{val.internal}} </li>
                                        <li class="list-group-button">Total External : {{val.external}} </li>
                                        <li class="list-group-button">Total Marks    : {{val.total}} </li>
                                        <li class="list-group-button">Subjects       : {{val.sub}} </li>
                                        <li class="list-group-button">Percentage     : {{val.percentage}} </li>
                                    </ul>

                                </div>
                            </div>







          <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome" style="height:100px; margin-left:15px; margin-right:15px; background:#fee2b3 " >

                                <h3>If you continue this performance, you will achieve {{val.pred_percentage}} % in upcoming semester.</h3>
                            </div>
                        </div>
                    </div>
                </div>
</div>


                {% endfor %}
      </div>
            </div>









   <div class="row">


{% for val in rows1 %}
      <div class="sem" id="cars">

       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                                <div class="section-block" id="card-list-1">
                                    <h3 class="section-title"></h3>

                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" style="margin-left:500px; margin-top:-350px; width: 30%;">
                                <div class="card">
                                    <img class="img-fluid" src="{% static 'home/images/atty_1.jpg' %}" alt="Card image cap" style="margin-bottom:-10px;">
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-button">Symbol         : {{val.symbol}}</li>
                                        <li class="list-group-button">Semeter        : {{val.semester}}</li>
                                        <li class="list-group-button">Total Internal : {{val.internal}} </li>
                                        <li class="list-group-button">Total External : {{val.external}} </li>
                                        <li class="list-group-button">Total Marks    : {{val.total}} </li>
                                        <li class="list-group-button">Subjects       : {{val.sub}} </li>
                                        <li class="list-group-button">Percentage     : {{val.percentage}} </li>
                                    </ul>

                                </div>
                            </div>







          <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome" style="height:100px; margin-left:15px; margin-right:15px; background:#fee2b3 " >

                                <h3>If you continue this performance, you will achieve {{val.pred_percentage}} % in upcoming semester.</h3>
                            </div>
                        </div>
                    </div>
                </div>
</div>


                {% endfor %}
      </div>
   </div>

















   <div class="row">


{% for val in rows2 %}
      <div class="sem" id="fruits">

       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                                <div class="section-block" id="card-list-2">
                                    <h3 class="section-title"></h3>

                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" style="margin-left:500px; margin-top:-350px; width: 30%;">
                                <div class="card">
                                    <img class="img-fluid" src="{% static 'home/images/atty_1.jpg' %}" alt="Card image cap" style="margin-bottom:-10px;">
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-button">Symbol         : {{val.symbol}}</li>
                                        <li class="list-group-button">Semeter        : {{val.semester}}</li>
                                        <li class="list-group-button">Total Internal : {{val.internal}} </li>
                                        <li class="list-group-button">Total External : {{val.external}} </li>
                                        <li class="list-group-button">Total Marks    : {{val.total}} </li>
                                        <li class="list-group-button">Subjects       : {{val.sub}} </li>
                                        <li class="list-group-button">Percentage     : {{val.percentage}} </li>
                                    </ul>

                                </div>
                            </div>







          <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome" style="height:100px; margin-left:15px; margin-right:15px; background:#fee2b3 " >

                                <h3>If you continue this performance, you will achieve {{val.pred_percentage}} % in upcoming semester.</h3>
                            </div>
                        </div>
                    </div>
                </div>
</div>



                {% endfor %}

















   <div class="row">


{% for val in rows3 %}
      <div class="sem" id="cats">

       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                                <div class="section-block" id="card-list-3">
                                    <h3 class="section-title"></h3>

                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" style="margin-left:500px; margin-top:-350px; width: 30%;">
                                <div class="card">
                                    <img class="img-fluid" src="{% static 'home/images/atty_1.jpg' %}" alt="Card image cap" style="margin-bottom:-10px;">
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-button">Symbol         : {{val.symbol}}</li>
                                        <li class="list-group-button">Semeter        : {{val.semester}}</li>
                                        <li class="list-group-button">Total Internal : {{val.internal}} </li>
                                        <li class="list-group-button">Total External : {{val.external}} </li>
                                        <li class="list-group-button">Total Marks    : {{val.total}} </li>
                                        <li class="list-group-button">Subjects       : {{val.sub}} </li>
                                        <li class="list-group-button">Percentage     : {{val.percentage}} </li>
                                    </ul>

                                </div>
                            </div>







          <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome" style="height:100px; margin-left:15px; margin-right:15px; background:#fee2b3 " >

                                <h3>If you continue this performance, you will achieve {{val.pred_percentage}} % in upcoming semester.</h3>
                            </div>
                        </div>
                    </div>
                </div>
</div>



                {% endfor %}

















   <div class="row">


{% for val in rows4 %}
      <div class="sem" id="dogs">

       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                                <div class="section-block" id="card-list-4">
                                    <h3 class="section-title"></h3>

                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" style="margin-left:500px; margin-top:-350px; width: 30%;">
                                <div class="card">
                                    <img class="img-fluid" src="{% static 'home/images/atty_1.jpg' %}" alt="Card image cap" style="margin-bottom:-10px;">
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-button">Symbol         : {{val.symbol}}</li>
                                        <li class="list-group-button">Semeter        : {{val.semester}}</li>
                                        <li class="list-group-button">Total Internal : {{val.internal}} </li>
                                        <li class="list-group-button">Total External : {{val.external}} </li>
                                        <li class="list-group-button">Total Marks    : {{val.total}} </li>
                                        <li class="list-group-button">Subjects       : {{val.sub}} </li>
                                        <li class="list-group-button">Percentage     : {{val.percentage}} </li>
                                    </ul>

                                </div>
                            </div>







          <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome" style="height:100px; margin-left:15px; margin-right:15px; background:#fee2b3 " >

                                <h3>If you continue this performance, you will achieve {{val.pred_percentage}} % in upcoming semester.</h3>
                            </div>
                        </div>
                    </div>
                </div>
</div>



                {% endfor %}

















   <div class="row">


{% for val in rows5 %}
      <div class="sem" id="cows">

       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                                <div class="section-block" id="card-list-5">
                                    <h3 class="section-title"></h3>

                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" style="margin-left:500px; margin-top:-350px; width: 30%;">
                                <div class="card">
                                    <img class="img-fluid" src="{% static 'home/images/atty_1.jpg' %}" alt="Card image cap" style="margin-bottom:-10px;">
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-button">Symbol         : {{val.symbol}}</li>
                                        <li class="list-group-button">Semeter        : {{val.semester}}</li>
                                        <li class="list-group-button">Total Internal : {{val.internal}} </li>
                                        <li class="list-group-button">Total External : {{val.external}} </li>
                                        <li class="list-group-button">Total Marks    : {{val.total}} </li>
                                        <li class="list-group-button">Subjects       : {{val.sub}} </li>
                                        <li class="list-group-button">Percentage     : {{val.percentage}} </li>
                                    </ul>

                                </div>
                            </div>







          <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome" style="height:100px; margin-left:15px; margin-right:15px; background:#fee2b3 " >

                                <h3>If you continue this performance, you will achieve {{val.pred_percentage}} % in upcoming semester.</h3>
                            </div>
                        </div>
                    </div>
                </div>
</div>



                {% endfor %}









