


{% extends 'stu_base.html' %}
{% load static %}

{% block content %}


<br>
<br>
<br>




<div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome" style="height:100px;">


                                <form id="add-department" action=""  class="add-department" method="post"  enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="float:right;">
                                                            <div class="form-group">
                                                               <label for="fname"></label>
                                                                <input type="numbers" id="fname" name="symbol" placeholder="Symbol Number"  style="height:30px; border-radius:15px;">



                                                             <div class="col-lg-6">
                                                            <div class="payment-adress">
                                                                <button type="submit" value="submit"  onclick="myFunction()" class="btn btn-primary waves-effect waves-light"  >Search</button>
                                                            </div>
                                                        </div>

                                                        </div>
                                                    </div>
                                                         </div>



                                                </form>





                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>





<div class="center" id="oliDIV">



     <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="payment-adress">
                                                                <button class="button" id="sem1" >I</button>

                                                            </div>
                                                        </div>
                                                    </div>
<br>




                                        <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="payment-adress">
                                                                <button class="button" id="sem2" >II</button>

                                                            </div>
                                                        </div>
                                                    </div>

<br>

                                        <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="payment-adress">
                                                               <button class="button" id="sem3">III</button>

                                                            </div>
                                                        </div>
                                                    </div>

<br>

<div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="payment-adress">
                                                                <button class="button" id="sem4">IV</button>

                                                            </div>
                                                        </div>
                                                    </div>


<br>
                                            <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="payment-adress">
                                                               <button class="button" id="sem5">V</button>

                                                            </div>
                                                        </div>
                                                    </div>


<br>
                                        <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="payment-adress">
                                                               <button class="button" id="sem6">VI</button>

                                                            </div>
                                                        </div>


                                                    </div>







</div>



            <div class="row">


{% for val in rows %}
      <div class="sem1" >

       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                                <div class="section-block" id="card-list">
                                    <h3 class="section-title"></h3>

                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" style="margin-left:500px; margin-top:-350px; width: 30%;">
                                <div class="card">
                                    <img class="img-fluid" src="{% static 'home/images/atty_1.jpg' %}" alt="Card image cap" style="margin-bottom:-10px;">
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-button">Symbol         : {{val.symbol}}</li>
                                        <li class="list-group-button">Semeter        : {{val.semester}}</li>
                                        <li class="list-group-button">Total Internal : {{val.internal}} </li>
                                        <li class="list-group-button">Total External : {{val.external}} </li>
                                        <li class="list-group-button">Total Marks    : {{val.total}} </li>
                                        <li class="list-group-button">Subjects       : {{val.sub}} </li>
                                        <li class="list-group-button">Percentage     : {{val.percentage}} </li>
                                    </ul>

                                </div>
                            </div>










                {% endfor %}
      </div>
            </div>









   <div class="row">


{% for val in rows1 %}
      <div class="sem2">

       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                                <div class="section-block" id="card-list-1">
                                    <h3 class="section-title"></h3>

                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" style="margin-left:500px; margin-top:-350px; width: 30%;">
                                <div class="card">
                                    <img class="img-fluid" src="{% static 'home/images/atty_1.jpg' %}" alt="Card image cap" style="margin-bottom:-10px;">
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-button">Symbol         : {{val.symbol}}</li>
                                        <li class="list-group-button">Semeter        : {{val.semester}}</li>
                                        <li class="list-group-button">Total Internal : {{val.internal}} </li>
                                        <li class="list-group-button">Total External : {{val.external}} </li>
                                        <li class="list-group-button">Total Marks    : {{val.total}} </li>
                                        <li class="list-group-button">Subjects       : {{val.sub}} </li>
                                        <li class="list-group-button">Percentage     : {{val.percentage}} </li>
                                    </ul>

                                </div>
                            </div>










                {% endfor %}
      </div>


















   <div class="row">


{% for val in rows2 %}
      <div class="sem3">

       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                                <div class="section-block" id="card-list-2">
                                    <h3 class="section-title"></h3>

                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" style="margin-left:500px; margin-top:-350px; width: 30%;">
                                <div class="card">
                                    <img class="img-fluid" src="{% static 'home/images/atty_1.jpg' %}" alt="Card image cap" style="margin-bottom:-10px;">
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-button">Symbol         : {{val.symbol}}</li>
                                        <li class="list-group-button">Semeter        : {{val.semester}}</li>
                                        <li class="list-group-button">Total Internal : {{val.internal}} </li>
                                        <li class="list-group-button">Total External : {{val.external}} </li>
                                        <li class="list-group-button">Total Marks    : {{val.total}} </li>
                                        <li class="list-group-button">Subjects       : {{val.sub}} </li>
                                        <li class="list-group-button">Percentage     : {{val.percentage}} </li>
                                    </ul>

                                </div>
                            </div>










                {% endfor %}




</div>












   <div class="row">


{% for val in rows3 %}
      <div class="sem4">

       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                                <div class="section-block" id="card-list-3">
                                    <h3 class="section-title"></h3>

                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" style="margin-left:500px; margin-top:-350px; width: 30%;">
                                <div class="card">
                                    <img class="img-fluid" src="{% static 'home/images/atty_1.jpg' %}" alt="Card image cap" style="margin-bottom:-10px;">
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-button">Symbol         : {{val.symbol}}</li>
                                        <li class="list-group-button">Semeter        : {{val.semester}}</li>
                                        <li class="list-group-button">Total Internal : {{val.internal}} </li>
                                        <li class="list-group-button">Total External : {{val.external}} </li>
                                        <li class="list-group-button">Total Marks    : {{val.total}} </li>
                                        <li class="list-group-button">Subjects       : {{val.sub}} </li>
                                        <li class="list-group-button">Percentage     : {{val.percentage}} </li>
                                    </ul>

                                </div>
                            </div>











                {% endfor %}





</div>











   <div class="row">


{% for val in rows4 %}
      <div class="sem5">

       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                                <div class="section-block" id="card-list-4">
                                    <h3 class="section-title"></h3>

                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" style="margin-left:500px; margin-top:-350px; width: 30%;">
                                <div class="card">
                                    <img class="img-fluid" src="{% static 'home/images/atty_1.jpg' %}" alt="Card image cap" style="margin-bottom:-10px;">
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-button">Symbol         : {{val.symbol}}</li>
                                        <li class="list-group-button">Semeter        : {{val.semester}}</li>
                                        <li class="list-group-button">Total Internal : {{val.internal}} </li>
                                        <li class="list-group-button">Total External : {{val.external}} </li>
                                        <li class="list-group-button">Total Marks    : {{val.total}} </li>
                                        <li class="list-group-button">Subjects       : {{val.sub}} </li>
                                        <li class="list-group-button">Percentage     : {{val.percentage}} </li>
                                    </ul>

                                </div>
                            </div>








                {% endfor %}


</div>














   <div class="row">


{% for val in rows5 %}
      <div class="sem6">

       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                                <div class="section-block" id="card-list-5">
                                    <h3 class="section-title"></h3>

                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" style="margin-left:500px; margin-top:-350px; width: 30%; border:solid;background-color:#b19cd9;">
                                <div class="card" style="margin-left:100px;">
                                    <img class="img-fluid" src="{% static 'home/images/stu_avatar.jpg' %}" alt="Card image cap" style="margin-bottom:-10px; height:200px;">
                                    <div class="card-body">
                                        <h3 class="card-title"></h3>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-button" style="border:1px;">Symbol         : {{val.symbol}}</li>
                                        <li class="list-group-button">Semeter        : {{val.semester}}</li>
                                        <li class="list-group-button">Total Internal : {{val.internal}} </li>
                                        <li class="list-group-button">Total External : {{val.external}} </li>
                                        <li class="list-group-button">Total Marks    : {{val.total}} </li>
                                        <li class="list-group-button">Subjects       : {{val.sub}} </li>
                                        <li class="list-group-button">Percentage     : {{val.percentage}} </li>
                                    </ul>

                                </div>
                            </div>










                {% endfor %}




</div>


{% for sym in sym %}
       {% if values not in sym %}




       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                                <div class="section-block" id="card-list">
                                    <h3 class="section-title"></h3>

                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" style="margin-left:500px; margin-top:-350px; width: 30%;">
                                <div class="card">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome" style="height:100px;width:200%; margin-left:0px; margin-top: 75px; margin-right:15px; background:#fee2b3 " >

                                <h3 style="text-align:center; margin-top:10px;">Sorry! No Records Available...........</h3>
                            </div>
                        </div>
                    </div>
                </div>
</div>




                                </div>
                            </div>



 {% endif %}

       {% endfor %}











<style>


    .button {
    height:40px;
    width:75px;
    color:white;
    background-color: #9932cc !important;
    active{color: #008000;}
    cursor:pointer;
    margin-left:-400px;

}
.sem1,.sem2,.sem3,sem4, .sem5, .sem6{
    display: none;
    clear: both;






}
</style>





<script>

function myFunction() {
   document.getElementById('oliDIV').style.display = "block";

}


$(".button").click(function (e) {
	       e.preventDefault();

           $('[class^=sem]').not($('.'+this.id)).hide();

           $('.'+this.id).slideToggle(100);
	   });





</script>





{% endblock %}

