body {
    background: white url("images/background.png");
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 1;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 20px;
}

.glyphicon-star.active {
    color: #FDB230;
}

.project{
    border-spacing: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 800px;
    margin-left: 100px;
    padding-top: 10px;
    padding-right: 3px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: brown;
    font-size: 30px;
}
.btn btn-primary {
  position: absolute;
  right: 220px;
}
.project-detail{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 80px;
    margin-left: 30px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    background-color: green;
    text-transform: uppercase;

    font-size: 30px;

}
.member{
    border-spacing: 50px;

    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 30px;
    padding-top: 100px;
    padding-right: 30px;
    padding-bottom: 100px;
    padding-left: 80px;
    background-color: white;
    font-size: 30px;
}

.membertable,th,td{
border: 1px solid black;
}

.member-list{
    border-spacing: 50px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 800px;
    margin-left: 100px;
    padding-top: 10px;
    padding-right: 3px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: white;
    font-size: 30px;
}
.form{
    border-spacing: 50px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 800px;
    margin-left: 100px;
    padding-top: 10px;
    padding-right: 3px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: white;
    font-size: 30px;
}