

{% extends 'base1.html' %}
{% block content %}
{% load static %}
{% include 'partials/_home.html' %}
<style>
        #tab-header-text {
            color: #363946 !important;
        }

</style>

<div class="contacts-area mg-b-15">
<div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="single-review-st-item res-mg-t-30 table-mg-t-pro-n">
                            <div class="single-review-st-hd">
                                <h2>User Profile</h2>
                            </div>
                            <div class="single-review-st-text">
                                <div class="review-ctn-hf">
                                    <h1>{{request.user.first_name}}&nbsp;{{request.user.last_name}}</h1>
                                    <p>{{request.user.email}}</p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
</div>








{% endblock %}

































