{%extends 'base.html' %}
{% block content %}
{%load static %}








<div class="hero overlay" style="background-image: url('static/home/images/hero_bg_1.jpg');">

        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-12">

              <div class="row align-items-center justify-content-between">

                <div class="col-lg-5 intro">
                  <h1 class="text-white"><strong>Student Performance</strong> Prediction System</h1>
                  <p class="text-white">Web application that would be able to predict the student’s performance like who will pass and who are likely to fail in upcoming examination using their previous marks(%) making enable to identify those students who needed special attention.</p>
                </div>

                <div class="col-lg-5">



                </div>
              </div>


            </div>
          </div>
        </div>
      </div>










 <div class="site-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 text-center">
            <div class="row mb-5 mb-lg-0">
              <div class="col-6">
                <img src="{% static 'home/images/atty_1.jpg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="col-6">
                <img src="{% static 'home/images/atty_2.jpg' %}" alt="Image" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-lg-4 ml-auto order-lg-1">
            <h3 class="mb-4 section-heading">We Help <strong>For The Growth </strong> of Students </h3>
            <p class="mb-5">Web application that would be able to predict the student’s performance like who will pass and who are likely to fail in upcoming examination using their previous marks(%) making enable to identify those students who needed special attention.</p>


          </div>
        </div>
      </div>
    </div>




    <div class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center text-center mb-5 section-2-title">
          <div class="col-md-6">
            <h2 class="mb-4">Meet Our Team</h2>
          </div>
        </div>
        <div class="row align-items-stretch">

          <div class="col-lg-6 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">

              <img src="{% static 'home/images/person_1.jpg' %}" alt="Image"
              class="img-fluid">

              <div class="post-entry-1-contents">
                <span class="meta"></span>
                <h2>Nabin Kandel</h2>
                <li>
                    CSIT VII semester
              </li>
                <li>
                  Symbol: 10696/073
                </li>

              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">

              <img src="{% static 'home/images/person_1.jpg' %}" alt="Image"
              class="img-fluid">

              <div class="post-entry-1-contents">
                <span class="meta"></span>
                <h2>Sushant Shrestha</h2>
               <li>
                    CSIT VII semester
              </li>
                <li>
                  Symbol: 10696/073
                </li>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">

              <img src="{% static 'home/images/person_1.jpg' %}" alt="Image"
              class="img-fluid">

              <div class="post-entry-1-contents">
                <span class="meta"></span>
                <h2>Alok Chaudhary</h2>
                <li>
                    CSIT VII semester
              </li>
                <li>
                  Symbol: 10696/073
                </li>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">

              <img src="{% static 'home/images/person_1.jpg' %}" alt="Image"
              class="img-fluid">

              <div class="post-entry-1-contents">
                <span class="meta"></span>
                <h2>Rakesh Oli</h2>
               <li>
                    CSIT VII semester
              </li>
                <li>
                  Symbol: 10710/073
                </li>
              </div>
            </div>
          </div>






        </div>
      </div>
    </div>







{% endblock %}



